<div class="centrale">
  <h1> Stadio Della Roma </h1>
  <hr>
  <img src="/assets/images/romastadio.jpg">
  <br>
  <p>The new stadium will seat 52,500 people (expandable to 60,000).
     Stadio della Roma is custom-designed to create an outstanding game day experience for fans.
     There will be 89+ hectares of landscaped area site-wide – with 53+ total hectares of public parkland. 9,100+ new trees and 140,000+ new shrubs will be planted and also three new water features.
     A 32+ hectare brownfield will be revitalised, with trees, pathways, bikeways, lighting and CCTV, all of which are available to the public.
     A seven hectare public park, situated at the main entrance of the project in front of the entertainment district, in between the stadium and Ostiense/Tor di Valle station, will also feature a hillside amphitheatre.
     The amphitheatre will serve as a unique music venue for classical concerts, jazz shows, festivals and more. The amphitheatre will be built into a man-made slope on the site and can be used during the day for people to casually lounge, go for a walk and eat lunch.


  </p>
</div>
