<div class="comments">
<h1> Comments </h1>
<h2> Anthony Miclet <span id="date"> 07/11/17  19:09 </span></h2>
<p> This Stadium will be the most beautiful soccer Stadium in the World </p>
<br>
<h2> Ihor Bodnarchuk <span id="date"> 07/11/17  19:19 </span></h2>
<p> I wish there were stadiums like this in Ukraine </p>
<div class="form">
<form >
  <h3> Add your comment </h3>
  Name: <input type="text" id="name"><br>
  <br>
  Comment: <input type="text" id="email"><br>
  <br>
  <button> Comment </button>
</form>
</div>
</div>
